build/CGame
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/reply/cache-v2-4526ec8734b8aa526489.json
build/.cmake/api/v1/reply/cache-v2-637766a8e6463cb7ceca.json
build/.cmake/api/v1/reply/codemodel-v2-a657ef27bf6f4b8a2b2a.json
build/.cmake/api/v1/reply/codemodel-v2-e32f66596123cc9918e6.json
build/.cmake/api/v1/reply/index-2021-10-08T08-45-25-0049.json
build/.cmake/api/v1/reply/index-2021-10-08T11-36-33-0514.json
build/.cmake/api/v1/reply/target-CGame-Debug-11b0ae94fde9725d8ecb.json
build/.cmake/api/v1/reply/target-CGame-f0a641814aafe32dbe19.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/CGame.dir/C.includecache
build/CMakeFiles/CGame.dir/depend.internal
build/CMakeFiles/CGame.dir/depend.make
build/CMakeFiles/CGame.dir/flags.make
build/CMakeFiles/CGame.dir/link.txt
build/CMakeFiles/CGame.dir/src/engine/src/camera.c.o
build/CMakeFiles/CGame.dir/src/engine/src/input.c.o
build/CMakeFiles/CGame.dir/src/engine/src/render.c.o
build/CMakeFiles/CGame.dir/src/engine/src/shaderProgram.c.o
build/CMakeFiles/CGame.dir/src/engine/src/stb_image.c.o
build/CMakeFiles/CGame.dir/src/engine/src/texture.c.o
build/CMakeFiles/CGame.dir/src/engine/src/window.c.o
build/CMakeFiles/CGame.dir/src/engine/src/blocks/block.c.o
build/CMakeFiles/CGame.dir/src/engine/src/blocks/blockTextures.c.o
build/CMakeFiles/CGame.dir/src/engine/vendor/glad.c.o
build/CMakeFiles/CGame.dir/src/game/main.c.o
build/CMakeFiles/CGame.dir/src/game/scenes/testScene.c.o
.VSCodeCounter/2022-01-15_12-57-34/details.md
.VSCodeCounter/2022-01-15_12-57-34/results.csv
.VSCodeCounter/2022-01-15_12-57-34/results.md
.VSCodeCounter/2022-01-15_12-57-34/results.txt
build/
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/codemodel-v2-9f40dd1a1b04f4f3ae56.json
build/.cmake/api/v1/reply/index-2022-01-15T12-49-32-0196.json
build/.cmake/api/v1/reply/target-CGame-Debug-5ea668513fac51b5819d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CGame.dir/build.make
build/CMakeFiles/CGame.dir/cmake_clean.cmake
build/CMakeFiles/CGame.dir/DependInfo.cmake
build/CMakeFiles/CGame.dir/progress.make
build/CMakeFiles/CGame.dir/src/camera.c.o
build/CMakeFiles/CGame.dir/src/chunk.c.o
build/CMakeFiles/CGame.dir/src/input.c.o
build/CMakeFiles/CGame.dir/src/main.c.o
build/CMakeFiles/CGame.dir/src/noise.c.o
build/CMakeFiles/CGame.dir/src/render.c.o
build/CMakeFiles/CGame.dir/src/shaderProgram.c.o
build/CMakeFiles/CGame.dir/src/stb_image.c.o
build/CMakeFiles/CGame.dir/src/texture.c.o
build/CMakeFiles/CGame.dir/src/window.c.o
build/CMakeFiles/CGame.dir/src/blocks/block.c.o
build/CMakeFiles/CGame.dir/src/blocks/blockTextures.c.o
build/CMakeFiles/CGame.dir/src/scenes/testScene.c.o
build/CMakeFiles/CGame.dir/vendor/glad.c.o
build/.cmake/api/v1/reply/index-2022-01-15T13-48-56-0634.json
build/.cmake/api/v1/reply/index-2022-01-17T09-31-09-0594.json
.VSCodeCounter/2022-01-28_10-41-15/details.md
.VSCodeCounter/2022-01-28_10-41-15/diff-details.md
.VSCodeCounter/2022-01-28_10-41-15/diff.csv
.VSCodeCounter/2022-01-28_10-41-15/diff.md
.VSCodeCounter/2022-01-28_10-41-15/diff.txt
.VSCodeCounter/2022-01-28_10-41-15/results.csv
.VSCodeCounter/2022-01-28_10-41-15/results.json
.VSCodeCounter/2022-01-28_10-41-15/results.md
.VSCodeCounter/2022-01-28_10-41-15/results.txt
