build/CGame
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/reply/cache-v2-4526ec8734b8aa526489.json
build/.cmake/api/v1/reply/cache-v2-637766a8e6463cb7ceca.json
build/.cmake/api/v1/reply/codemodel-v2-a657ef27bf6f4b8a2b2a.json
build/.cmake/api/v1/reply/codemodel-v2-e32f66596123cc9918e6.json
build/.cmake/api/v1/reply/index-2021-10-08T08-45-25-0049.json
build/.cmake/api/v1/reply/index-2021-10-08T11-36-33-0514.json
build/.cmake/api/v1/reply/target-CGame-Debug-11b0ae94fde9725d8ecb.json
build/.cmake/api/v1/reply/target-CGame-f0a641814aafe32dbe19.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/CGame.dir/C.includecache
build/CMakeFiles/CGame.dir/depend.internal
build/CMakeFiles/CGame.dir/depend.make
build/CMakeFiles/CGame.dir/flags.make
build/CMakeFiles/CGame.dir/link.txt
build/CMakeFiles/CGame.dir/src/engine/src/camera.c.o
build/CMakeFiles/CGame.dir/src/engine/src/input.c.o
build/CMakeFiles/CGame.dir/src/engine/src/render.c.o
build/CMakeFiles/CGame.dir/src/engine/src/shaderProgram.c.o
build/CMakeFiles/CGame.dir/src/engine/src/stb_image.c.o
build/CMakeFiles/CGame.dir/src/engine/src/texture.c.o
build/CMakeFiles/CGame.dir/src/engine/src/window.c.o
build/CMakeFiles/CGame.dir/src/engine/src/blocks/block.c.o
build/CMakeFiles/CGame.dir/src/engine/src/blocks/blockTextures.c.o
build/CMakeFiles/CGame.dir/src/engine/vendor/glad.c.o
build/CMakeFiles/CGame.dir/src/game/main.c.o
build/CMakeFiles/CGame.dir/src/game/scenes/testScene.c.o
